<div class="subscribe container">
  <div class="row">
    <div class="col-sm-5 text-left">
      <p class="margin-bottom-0">
        We write regularly about Convox and the latest<br>
        in cloud trends on our <a href="/blog">Blog</a>.
      </p>
    </div>
    <div class="col-sm-2">
      <img src="/assets/images/static/navbar-logo.png" />
    </div>
    <div class="col-sm-5 text-right">
      <p>Get the latest Convox news sent to your inbox.</p>
      {% include mailchimp.html %}
    </div>
  </div>
</div>
