/*
@media (max-width: 768px) {
  #menu .navbar-nav li:last-child {
    width: 115px;
  }

  header .container {
    padding-top: 60px;
    padding-bottom: 15px;
  }

  header .intro-text .name {
    font-size: 30px;
  }

  header .intro-text .name-desc {
    font-size: 40px;
  }

  header .intro-text .name-desc p {
    margin-bottom: 20px;
  }

  header ul.actions li {
    display: block;
    margin-bottom: 12px;
  }

  header .btnshadow {
    float: none;
    margin-bottom: 8px;
  }

  header .intro-text {
    margin-top: 45px;
  }

  .testimonials .author {
    margin-bottom: 3.5rem;
    display: inline-block;
  }

  .trusted-client h3 {
    text-align: center;
  }

  .trusted-client .thumbnails div {
    width: 17%;
  }

  #features .box {
    height: 300px;
  }

  #features .box p {
    height: initial;
  }

  #features .box img {
    display: none;
  }

  .docs #doc {
    padding: 30px;
  }

  .jobs #mission {
    padding: 30px 15px;
  }

  .jobs #mission p {
    margin-bottom: 1.5em;
  }

  .pricing section {
    padding: 15px 0;
  }

  .pricing .plan {
    margin: 0 0 50px !important;
  }

  .pricing .plan {
    margin: 0 0 15px;
    width: 100%;
  }

  .pricing .plan:last-of-type {
    margin-bottom: 0;
  }

  footer .footer-bottom ul.nav-left-col {
    margin-left: 0;
    padding-left: 0;
    margin-bottom: 25px;
    display: block;
    overflow: hidden;
  }

  footer .footer-bottom p {
    float: left !important;
  }

	footer .footer-menu .footer-menu-section {
		border-right: none;
	}

	footer .footer-menu .slack {
		align-items: center;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		margin: 0;
		padding: 10px 50px;
	}

	footer .footer-menu .slack h2,
	footer .footer-menu .slack p,
	footer .footer-menu .slack iframe {
		text-align: center;
		margin: 10px 0;
	}

  footer .col-sm-6 {
    margin-bottom: 30px;
  }
}
*/

.blog .extras {
  flex-direction: column;
  padding: 35px;
}

.blog .extras section {
  margin: 0;
}

.blog .subscribe-form-field {
  width: 100%;
}

.blog .subscribe-form-button {
  width: 100%;
}

@media (min-width: 768px) {
  /* TODO */
}

@media (min-width: 992px) {
  /* TODO */
}

@media (min-width: 1200px) {
  /* TODO */
}
